# This workflow checks all repository links once a week and creates an issue in case of errors. 
name: Links

on:
  workflow_call:
    inputs:
      issue-labels:
        description: "Labels to apply to the created issue"
        required: false
        type: string
        default: "report, automated issue"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      issues: write # documents intent -- required for peter-evans/create-issue-from-file

    steps:
      - uses: actions/checkout@v5

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: false

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: ${{ inputs.issue-labels }}